<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home page</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<p th:text="'Hello, ' + ${username} + '!'" />
	<p th:text="'Your password is ' + ${password} + '!'" />

	<div class="col-sm-2" />

	<div class="col-sm-8">
		<!-- 		<div th:if="${not #lists.isEmpty(tests)}"> -->
		<h2>List of Kingdoms</h2>
		<div th:if="${not #lists.isEmpty(kingdoms)}">
			<table class="table table-striped">
				<tr>
					<th>Name</th>
					<th>Race</th>
					<th>Can move</th>
				</tr>
				<tr th:each="kingdom : ${kingdoms}">
					<td th:text="${kingdom.name}"></td>
					<td th:text="${kingdom.race}"></td>
					<td th:text="${kingdom.canMove()}"></td>
				</tr>
			</table>
		</div>
		<!-- 		</div> -->
	</div>

	<div class="col-sm-2" />

</body>
</html>